p{color:red;}
h1{background-color:black; color:red;}
.right{color:blue;font-family:arial;font-size:50px;background-color:yellow;}
.sub{color:red;font-size:30px;}
#hlo{color:red;letter-spacing:20px;background-color:black;font-size:40px;}
#sub2{color:black;background-color:grey;border-style:double;border-color:black;font-size:60px;border-width:7px;text-align:center;}
.sub3{color:black;font-size:40px;animation-name:ease-in;animation-duration:4s;animation-iteration-count:infinite;}